* {
    font-family: 'Trirong', serif;
}

* p {
    font-size: 18px;
}

* li {
    font-size: 18px;
}

.top-header {
    /*background-color: #daa520;*/
    background-image: url("../images/belgrade-city.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #1b1464;
}

@media all and (max-width: 720px) {
    .top-header {
        /*background-color: #daa520;*/
        background-image: url("../images/belgrade-city_mob.webp");
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        color: #1b1464;
    }
}

.oblak {
    color: #1b1464;
    padding: 2px 8px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
}

.bgd {
    font-size: 16px;
}

.posta {
    font-size: 20px;
}

.phone-header {
    font-size: 19px;
}

.teren a {
    color: #1b1464;
    font-size: 16px;
}

.teren a:hover {
    text-decoration: none;
    color: #007bff;
    /*text-shadow: 0 1px 0 #FFF,
    1px 1px 0 #FFF,
    1px 0 0 #FFF,
    0 0 0 #FFF;*/
}

.sans-serif {
    font-family: Verdana, Helvetica, sans-serif;
}

.header-logo img {
    max-width: 100%;
    height: auto;
}

.header-logo p {
    font-size: 24px;
}

.header-logo h1 {
    font-size: 24px;
}

.header-logo a:link, .header-logo a:visited {
    text-decoration: none;
    color: #1b1464;
}

.header-logo a:hover {
    text-decoration: none;
    color: #1b1464;
}

.contact a {
    color: #1b1464;
}

.contact a:hover {
    text-decoration: none;
    /*color: #c90202;*/
    /*background-color: #c7bd05;*/
    color: #00bb00;
    /*text-shadow: 0 1px 0 #FFF,
    1px 1px 0 #FFF,
    1px 0 0 #FFF,
    0 0 0 #FFF;*/
}

.contact .badge {
    color: white;
    background-color: #c90202;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
}

.contact .fa-clock {
    color: #c90202;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
}

.contact > p {
    /*text-shadow: 3px 4px 7px rgba(128, 128, 128,0.6);*/
}

.dropdown-menu {
    margin: 0 !important;
}

.navigacija {
    padding: 0 !important;
    border-bottom: 5px solid #c90202;
    background-color: #d6cb06;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50), 0 -5px 6px -6px rgba(0, 0, 0, 0.50);
}

.navigacija li {
    font-weight: 500;
}

.navigacija .nav-link {
    color: #1b1464 !important;
    padding: 15px 10px !important;
}

.navigacija a:link, .navigacija a:visited {
    color: #1b1464;
}

.navigacija a:hover {
    color: #2d22aa !important;
    background-color: #c7bd05;
}

.navigacija .dropdown-menu {
    background-color: #d6cb06;
}

.navigacija .dropdown-item {
    border-bottom: solid 1px white;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.aktivno span {
    color: #c90202;
}

/*pocetak social media*/
/*.icon-circle .fa {
    font-size: 15px;
    color: #e84700;
    margin: 0 auto;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #e84700;
    line-height: 40px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.35s;
    -moz-transition: all ease-in-out 0.35s;
    -o-transition: all ease-in-out 0.35s;
    -ms-transition: all ease-in-out 0.35s;
    transition: all ease-in-out 0.20s, background-color ease-in-out 0.05s;
}

.icon-circle .fa:hover {

    background-color: #e84700;
    color: #fff;
    border: 1px solid #e84711;
    -moz-box-shadow: inset 0 0 0 4px #ffffff;
    -o-box-shadow: inset 0 0 0 4px #ffffff;
    -ms-box-shadow: inset 0 0 0 4px #ffffff;
    -webkit-box-shadow: inset 0 0 0 4px #ffffff;
    box-shadow: inset 0 0 0 4px #ffffff;
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.icon-circle i:before {
    margin-left: 0;
    font-size: 18px;
}

.ifacebook .fa {
    color: #1b1464;
    background-color: #fff;
    border: 2px solid #1b1464;
}

.ifacebook .fa:hover {

    background-color: #c90202;
    color: #fff;
    border: 1px solid #c90202;

}

.itwittter .fa {
    color: #1b1464;
    background-color: #fff;
    border: 2px solid #1b1464;
}

.itwittter .fa:hover {

    background-color: #c90202;
    color: #fff;
    border: 1px solid #c90202;

}

.igoogle .fa {
    color: #BD3518;
    border: 2px solid #BD3518;
}

.igoogle .fa:hover {

    background-color: #BD3518;
    color: #fff;
    border: 1px solid #BD3518;

}

.instagram .fa {
    color: #1b1464;
    background-color: #fff;
    border: 2px solid #1b1464;
}

.instagram .fa:hover {

    background-color: #c90202;
    color: #fff;
    border: 1px solid #c90202;

}*/

/*kraj social media*/
.carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.karusel .carousel-control-prev-icon, .karusel .carousel-control-next-icon {
    background-color: rgba(27, 20, 100, 0.9);
    border-radius: 50%;
}

.karusel p:first-child {
    font-size: 2vmax;
}

.karusel p {
    font-size: 1.7vmax;
}

.karusel span {
    background-color: rgba(27, 20, 100, 0.6);
    border-radius: 5px;
    padding: 3px 5px;
}

.carousel-caption a:link, .carousel-caption a:visited {
    text-decoration: none;
    color: white;
}

.carousel-caption a:hover {
    text-decoration: none;
    color: white;
    background-color: rgba(27, 20, 100, 0.9);
}

.carousel-caption span:hover {
    color: white;
    background-color: rgba(27, 20, 100, 0.8);
}

.navigacija .badge {
    background-color: white;
    border: solid 1px;
    border-radius: 50%;
}

/*testimonial pocetak*/
.testimonial-pocetna-1 {
    background-color: #c9c9c9;
}

.testimonial-slider {
    display: block;
    width: 100%;
    height: auto;
}

.testimonial-slider ul.slider {
    /*display: block;*/
    list-style: none;
    padding: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 120px;
    overflow: hidden;
    margin: 0 auto;
}

.testimonial-slider ul.slider li {
    position: absolute;
    display: block;
    width: 100%;
    opacity: 0;
    margin: auto;
}

.testimonial-slider ul.slider li:nth-child(1) {
    opacity: 1;

    -webkit-animation: fade-animation-1 25s infinite;
    animation: fade-animation-1 25s infinite;
}

.testimonial-slider ul.slider li:nth-child(2) {
    -webkit-animation: fade-animation-2 25s infinite;
    animation: fade-animation-2 25s infinite;
}

.testimonial-slider ul.slider li:nth-child(3) {
    -webkit-animation: fade-animation-3 25s infinite;
    animation: fade-animation-3 25s infinite;
}

.testimonial-slider ul.slider li:nth-child(4) {
    -webkit-animation: fade-animation-4 25s infinite;
    animation: fade-animation-4 25s infinite;
}

/*.testimonial-slider q {
    display: inline-block;
    letter-spacing: .5pt;
    text-shadow: 0 5px 10px rgba(0,0,0,.1);
    max-width: 35ch;
}*/

/*.testimonial-slider .source {
    margin-top: 25px;
    color: #d9e0f9;
    font: italic 400 30px / 1.35 "Raleway", Helvetica, Arial, Verdana, sans-serif;
}*/

/* KEYFRAME DECLARATIONS */
@keyframes fade-animation-1 {
    0%, 25%, 100% {
        opacity: 0
    }
    3%, 22% {
        opacity: 1;
    }
}

@keyframes fade-animation-2 {
    0%, 25%, 50%, 100% {
        opacity: 0
    }
    28%, 47% {
        opacity: 1;
    }
}

@keyframes fade-animation-3 {
    0%, 50%, 75%, 100% {
        opacity: 0
    }
    53%, 72% {
        opacity: 1;
    }
}

@keyframes fade-animation-4 {
    0%, 75%, 100% {
        opacity: 0
    }
    78%, 97% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-animation-1 {
    0%, 25%, 100% {
        opacity: 0
    }
    3%, 22% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-animation-2 {
    0%, 25%, 50%, 100% {
        opacity: 0
    }
    28%, 47% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-animation-3 {
    0%, 50%, 75%, 100% {
        opacity: 0
    }
    53%, 72% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-animation-4 {
    0%, 75%, 100% {
        opacity: 0
    }
    78%, 97% {
        opacity: 1;
    }
}

.testimonial-pocetna-1 img {
    width: 72px;
    height: auto;
    margin: auto;
}

.testimonial-pocetna-1 p {
    font-size: 24px;
    color: #363636;
    /*background: -webkit-linear-gradient(#333, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent*/
}

/*card deck*/
.card-usluge {
    margin-top: 100px;
}

.card-usluge h1 {
    color: #1b1464;
}

.card-usluge h2 {
    font-size: 26px;
    background-color: #c9c9c9;
}

.card-usluge .card {
    box-shadow: 5px 5px 6px -6px rgba(0, 0, 0, 0.50);
}

.card-usluge .card img {
    width: 100%;
    height: auto;
}

.card-usluge .card img:hover {
    opacity: 0.25;
    background-image: url("../images/android-icon-96x96.png");
}

.card-usluge .card:hover {
    background-image: url("../images/android-icon-96x96.png");
    background-repeat: no-repeat;
    background-position: 50% 30%;
    border: 1px solid #c9c9c9;
    /*transform: scale(1.1);*/
}

.card-usluge .btn {
    background-color: #d6cb06;
    color: #1b1464;
}

.card-usluge .btn:hover {
    background-color: #c7bd05;
    color: white;
}

.card-usluge a:link, .card-usluge a:visited {
    color: #1b1464 !important;
}

.card-usluge a:hover {
    color: #2d22aa !important;
}

.hr-text {
    font-size: 30px;
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: #1b1464;
    text-align: center;
    height: 1.5em;
    opacity: .9;
}

.hr-text:before {
    content: '';
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#d6cb06), to(transparent));
    background: linear-gradient(to right, transparent, #d6cb06, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #1b1464;
    background-color: #e6e6e6;
}

/*counter*/
.brojac {
    margin-top: 5%;
    margin-bottom: 5%;
}

.brojac-naslov {
    font-size: 30px;
    font-weight: 500;
    color: #1b1464;
}

.brojac-tekst {
    font-size: 19px;
    color: #1b1464;
}

.brojac .counter {
    background-color: #c9c9c9;
    padding: 20px 0;
    border-radius: 5px;
}

.brojac .count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.brojac .count-text {
    font-size: 17px;
    font-weight: normal;
    color: #1b1464;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.brojac .fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #1b1464;
}

/*pocetak carousel brendovi */
.karusel-brendovi {
    margin-top: 5%;
    margin-bottom: 5%;
}

.karusel-brendovi p {
    color: #1b1464;
}

.karusel-brendovi .carousel-nav-icon {
    height: 38px;
    width: 38px;
}

.karusel-brendovi .carousel-item .col, .carousel-item .col-sm, .carousel-item .col-md {
    margin: 8px;
    height: 67px;
    background-size: cover;
    background-position: center center;
}

.progres-bar {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #c9c9c9;
}

.progres-bar img {
    width: 100%;
    height: auto;
}

.progres {
    color: #1b1464;
}

.progres-pozadina {
    background-image: url("../images/extem-servis-bele-tehnike.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-origin: padding-box;*/
}

.progres .text-center {
    font-size: 27px;
}

.progres .progress-bar {
    width: 100%;
    background-color: #1b1464;
    color: white;
}

/*Paralax*/
.paralax-pocetna {
    background-image: url(../images/popravka-elektricnih-sporeta.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 50vh; /* 100% of viewport height */
    margin: 0 auto;
    position: relative;
}

.paralax-pocetna .paralax-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    background-color: rgba(201, 201, 201, 0.9);
    border-radius: 10px;
}

.paralax-div a {
    color: #1b1464;
}

.paralax-div a:hover {
    text-decoration: none;
    color: #c90202;
    text-shadow: 0 1px 0 #FFF,
    1px 1px 0 #FFF,
    1px 0 0 #FFF,
    0 0 0 #FFF;
}

#par-txt {
    /*text-shadow: 0 1px 0 #000,
    1px 1px 0 #000,
    1px 0 0 #000,
    0 0 0 #000,
    0 1px 1px #000*/
    font-size: 20px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

/*footer*/
.pred-footer {
    background-color: #d6cb06;
    color: #1b1464;
}

.footer-telo {
    background-color: #e6e6e6;
}

.footer-naslov {
    font-size: 18px;
}

.footer-telo .footer-link {
    color: #1b1464;
    font-size: 18px;
    padding: 5px;
}

.footer-telo .footer-link:hover {
    text-decoration: none;
    color: #c90202;
    background-color: white;
    padding: 4px;
    border: 1px solid #c90202;
    border-radius: 3px;
}

.post-footer {
    background-color: #d9d9d9;
    font-size: 18px;
}

.post-footer p {
    margin: 0;
}

.post-footer a:link, .post-footer a:visited {
    color: #0056b3;
}

.post-footer a:hover {
    text-decoration: none;
    color: #007bff;
}

/*top up*/
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color: rgba(149, 142, 4, 0.7) !important;
    color: #1b1464;
}

.back-to-top:hover {
    color: white !important;
    background-color: #aea604 !important;
}

.pod-nav {
    background-image: radial-gradient(#f2f2f2, #c9c9c9);
    /*background-image: url("../images/skulls.png");
    background-repeat: repeat;*/
    /*background-color: #c9c9c9;*/
    color: #1b1464;
}

.pod-nav h1 {
    font-size: 30px;
}

.o-nama .tel {
    background-color: #d6cb06;
    border-radius: 50px;
    color: #1b1464;
}

.o-nama .tel:hover {
    background-color: #c7bd05;
    color: white;
}

.o-nama .fas {
    color: #1b1464;
}

.o-nama img {
    width: 100%;
    height: auto;
}

/*pocetak drugi o nama testim*/
#testim,
#testim:after,
#testim:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
}

.testim .wrap {
    position: relative;
    width: 100%;
    max-width: 1020px;
    padding: 40px 20px;
    margin: auto;
}

.testim .arrow {
    display: block;
    position: absolute;
    color: #404040;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 22;
}

.testim .arrow:before {
    cursor: pointer;
}

.testim .arrow:hover {
    color: #d6cb06;
}


.testim .arrow.left {
    left: 10px;
}

.testim .arrow.right {
    right: 10px;
}

.testim .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 60px;
    left: 0;
    display: block;
    z-index: 3;
    height: 12px;
}

.testim .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #404040;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
    background: #c90202;
    border-color: #c90202;
}

.testim .dots .dot.active {
    -webkit-animation: testim-scale .5s ease-in-out forwards;
    -moz-animation: testim-scale .5s ease-in-out forwards;
    -ms-animation: testim-scale .5s ease-in-out forwards;
    -o-animation: testim-scale .5s ease-in-out forwards;
    animation: testim-scale .5s ease-in-out forwards;
}

.testim .cont {
    position: relative;
    overflow: hidden;
}

.testim .cont > div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
}

.testim .cont > div.inactive {
    opacity: 1;
}


.testim .cont > div.active {
    position: relative;
    opacity: 1;
}


.testim .cont div .img img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.testim .cont div .imena {
    color: #1b1464;
    font-size: 18px;
    margin: 15px auto;
}

.testim .cont div p {
    font-size: 1.15em;
    width: 80%;
    margin: auto;
}

.testim .cont div.active .img img {
    -webkit-animation: testim-show .5s ease-in-out forwards;
    -moz-animation: testim-show .5s ease-in-out forwards;
    -ms-animation: testim-show .5s ease-in-out forwards;
    -o-animation: testim-show .5s ease-in-out forwards;
    animation: testim-show .5s ease-in-out forwards;
}

.testim .cont div.active h2 {
    -webkit-animation: testim-content-in .4s ease-in-out forwards;
    -moz-animation: testim-content-in .4s ease-in-out forwards;
    -ms-animation: testim-content-in .4s ease-in-out forwards;
    -o-animation: testim-content-in .4s ease-in-out forwards;
    animation: testim-content-in .4s ease-in-out forwards;
}

.testim .cont div.active p {
    -webkit-animation: testim-content-in .5s ease-in-out forwards;
    -moz-animation: testim-content-in .5s ease-in-out forwards;
    -ms-animation: testim-content-in .5s ease-in-out forwards;
    -o-animation: testim-content-in .5s ease-in-out forwards;
    animation: testim-content-in .5s ease-in-out forwards;
}

.testim .cont div.inactive .img img {
    -webkit-animation: testim-hide .5s ease-in-out forwards;
    -moz-animation: testim-hide .5s ease-in-out forwards;
    -ms-animation: testim-hide .5s ease-in-out forwards;
    -o-animation: testim-hide .5s ease-in-out forwards;
    animation: testim-hide .5s ease-in-out forwards;
}

.testim .cont div.inactive h2 {
    -webkit-animation: testim-content-out .4s ease-in-out forwards;
    -moz-animation: testim-content-out .4s ease-in-out forwards;
    -ms-animation: testim-content-out .4s ease-in-out forwards;
    -o-animation: testim-content-out .4s ease-in-out forwards;
    animation: testim-content-out .4s ease-in-out forwards;
}

.testim .cont div.inactive p {
    -webkit-animation: testim-content-out .5s ease-in-out forwards;
    -moz-animation: testim-content-out .5s ease-in-out forwards;
    -ms-animation: testim-content-out .5s ease-in-out forwards;
    -o-animation: testim-content-out .5s ease-in-out forwards;
    animation: testim-content-out .5s ease-in-out forwards;
}

@-webkit-keyframes testim-scale {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -webkit-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -webkit-box-shadow: 0px 0px 10px 5px #c90202;
        box-shadow: 0px 0px 10px 5px #c90202;
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px #c90202;
        box-shadow: 0px 0px 0px 0px #c90202;
    }
}

@-moz-keyframes testim-scale {
    0% {
        -moz-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -moz-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -moz-box-shadow: 0px 0px 10px 5px #c90202;
        box-shadow: 0px 0px 10px 5px #c90202;
    }

    100% {
        -moz-box-shadow: 0px 0px 0px 0px #c90202;
        box-shadow: 0px 0px 0px 0px #c90202;
    }
}

@-ms-keyframes testim-scale {
    0% {
        -ms-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -ms-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -ms-box-shadow: 0px 0px 10px 5px #c90202;
        box-shadow: 0px 0px 10px 5px #c90202;
    }

    100% {
        -ms-box-shadow: 0px 0px 0px 0px #c90202;
        box-shadow: 0px 0px 0px 0px #c90202;
    }
}

@-o-keyframes testim-scale {
    0% {
        -o-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -o-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -o-box-shadow: 0px 0px 10px 5px #c90202;
        box-shadow: 0px 0px 10px 5px #c90202;
    }

    100% {
        -o-box-shadow: 0px 0px 0px 0px #c90202;
        box-shadow: 0px 0px 0px 0px #c90202;
    }
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        box-shadow: 0px 0px 10px 5px #c90202;
    }

    100% {
        box-shadow: 0px 0px 0px 0px #c90202;
    }
}

@-webkit-keyframes testim-content-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes testim-content-in {
    from {
        opacity: 0;
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

@-ms-keyframes testim-content-in {
    from {
        opacity: 0;
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes testim-content-in {
    from {
        opacity: 0;
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes testim-content-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-moz-keyframes testim-content-out {
    from {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-ms-keyframes testim-content-out {
    from {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-o-keyframes testim-content-out {
    from {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes testim-show {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes testim-show {
    from {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-ms-keyframes testim-show {
    from {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-o-keyframes testim-show {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes testim-hide {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes testim-hide {
    from {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}

@-ms-keyframes testim-hide {
    from {
        opacity: 1;
        -ms-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

@-o-keyframes testim-hide {
    from {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

@media all and (max-width: 300px) {
    body {
        font-size: 14px;
    }
}

@media all and (max-width: 500px) {
    .testim .arrow {
        font-size: 1.5em;
    }

    .testim .cont div p {
        line-height: 25px;
    }

}

/*kraj drugi o nama testim*/
/*kontakt*/
.kontakt-1 {
    background-image: url("../images/kontakt-extem.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-origin: padding-box;*/
}

.kon-1 {
    background-color: rgba(27, 20, 100, 0.5);
    border-radius: 10px;
}

.kon-1, .kon-1 a {
    color: white;
}

.kon-1 a:hover {
    text-decoration: none;
    color: #d6cb06;
}

.kon-1 .kon-1-tel {
    margin-right: 12px;
}

.kontakt-2 {
    background-color: #c9c9c9;
    color: #1b1464;
}

.kontakt-2 button {
    background-color: #d6cb06;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
}

.kontakt-2 button:hover {
    background-color: #c7bd05;
    color: white;
}

.kontakt-2 input, .kontakt-2 textarea {
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
}

/*kraj kontakt*/
/*akcije i popusti pocetak*/
.sale {
    position: relative;
    display: inline-block;
    background: #c90202;
    color: white;
    height: 3.5rem;
    width: 3.5rem;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    line-height: 3.5rem;
    /*margin: 45vh 45vw;*/
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    -webkit-animation: beat 1s ease infinite alternate;
    animation: beat 1s ease infinite alternate;
}

.sale:before, .sale:after {
    content: "";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sale:after {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

@-webkit-keyframes beat {
    from {
        -webkit-transform: rotate(-20deg) scale(1);
        transform: rotate(-20deg) scale(1);
    }
    to {
        -webkit-transform: rotate(-20deg) scale(1.1);
        transform: rotate(-20deg) scale(1.1);
    }
}

@keyframes beat {
    from {
        -webkit-transform: rotate(-20deg) scale(1);
        transform: rotate(-20deg) scale(1);
    }
    to {
        -webkit-transform: rotate(-20deg) scale(1.1);
        transform: rotate(-20deg) scale(1.1);
    }
}

.text-sekcija {
    background: #e6e6e6;
}

.servis img {
    width: 100%;
    height: auto;
}

.servis-logo img {
    width: 72px;
    height: auto;
    margin: auto;
}

.servis h2, .servis h3 {
    color: #1b1464;
}

.servis-linkovi {
    height: max-content;
    background-color: #d9d9d9;
}

.servis-linkovi .tel {
    background-color: #d6cb06;
    border-radius: 50px;
    color: #1b1464;
}

.servis-linkovi .tel:hover {
    background-color: #c7bd05;
    color: white;
}

.servis-linkovi img {
    width: 72px;
    height: auto;
    margin: auto;
}

.lista-linkova {
    list-style: none;
    padding: 0;
}

.lista-linkova li {
    /*border-bottom: solid 1px #f4f4f4;*/
    margin-bottom: 8px;
}

.lista-linkova a:link, a:visited, .sidebar-email a:link, a:visited {
    color: #0056b3;
    text-decoration: none;
}

.lista-linkova a:hover, .sidebar-email a:hover {
    color: #007bff;
}

.lista-linkova a:active, .sidebar-email a:active {
    color: #c90202;
}

.text-copy {
    font-size: 17px;
}

.phone-call {
    display: none;
}

.phone-call span {
    font-size: 30px;
}

/*top up*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    line-height: 10px;
}

#myBtn:hover {
    background-color: #007bff;
}

/*poziv odmah*/
@media only screen and (max-width: 768px) {
    .phone-call a {
        color: white;
        text-decoration: none;
    }

    .phone-call a:link, .phone-call a:visited {
        text-decoration: none;
        color: white;
    }

    .phone-call {
        font-size: 18px;
        width: 50px;
        height: 50px;
        left: 20px;
        bottom: 30px;
        background: #00bb00;
        position: fixed;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        border-radius: 50%;
        z-index: 99;
        display: inline-block;
        line-height: 55px;
    }

    .phone-call:before {
        position: absolute;
        content: " ";
        z-index: -1;
        top: -15px;
        left: -15px;
        background-color: #00bb00;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
        opacity: 0.6;
        -webkit-animation: pulse 1s ease-out;
        animation: pulse 1.8s ease-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

    @-webkit-keyframes pulse {
        0% {
            -webkit-transform: scale(0);
            opacity: 0;
        }
        25% {
            -webkit-transform: scale(0.3);
            opacity: 1;
        }
        50% {
            -webkit-transform: scale(0.6);
            opacity: 0.6;
        }
        75% {
            -webkit-transform: scale(0.9);
            opacity: 0.3;
        }
        100% {
            -webkit-transform: scale(1);
            opacity: 0;
        }
    }
    @keyframes pulse {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        25% {
            transform: scale(0.3);
            opacity: 1;
        }
        50% {
            transform: scale(0.6);
            opacity: 0.6;
        }
        75% {
            transform: scale(0.9);
            opacity: 0.3;
        }
        100% {
            transform: scale(1);
            opacity: 0;
        }
    }
}

@media (min-width: 320px) and (max-width: 768px) {


    .icon-circle .fa {
        font-size: 15px;
        color: #1b1464;
        margin: 0 auto;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid #1b1464;
        line-height: 40px;
        cursor: pointer;
        -webkit-transition: all ease-in-out 0.35s;
        -moz-transition: all ease-in-out 0.35s;
        -o-transition: all ease-in-out 0.35s;
        -ms-transition: all ease-in-out 0.35s;
        transition: all ease-in-out 0.20s, background-color ease-in-out 0.05s;
    }

    .icon-circle .fa:hover {

        background-color: #c90202;
        color: #fff;
        border: 1px solid #c90202;
        -moz-box-shadow: inset 0px 0px 0px 4px #ffffff;
        -o-box-shadow: inset 0px 0px 0px 4px #ffffff;
        -ms-box-shadow: inset 0px 0px 0px 4px #ffffff;
        -webkit-box-shadow: inset 0px 0px 0px 4px #ffffff;
        box-shadow: inset 0px 0px 0px 4px #ffffff;
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }

    .icon-circle i:before {
        margin-left: 0;
        font-size: 20px;
    }

    .card-usluge .card:hover {
        transform: none;
    }
}

.text-link {
    color: #0056b3;
}

.text-link:hover {
    text-decoration: none;
    color: #007bff;
}

/*card blog*/
.card-blog {
    pading-top: 100px;
}

.card-blog h1 {
    color: #1b1464;
}

.card-blog .card {
    box-shadow: 5px 5px 6px -6px rgba(0, 0, 0, 0.50);
}

.card-blog .card img {
    display: block;
    width: 100%;
    height: auto;
}

.card-blog .card-link {
    color: #d6cb06 !important;
}

.card-blog .card-link:hover {
    color: #c7bd05 !important;
}

.card-blog a:link, .card-usluge a:visited {
    color: #0056b3;
}

.card-blog a:hover {
    color: #007bff;
}

.blog-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.card:hover .blog-overlay {
    height: 100%;
}

.blog-overlay-txt {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
@media (min-width: 768px) {
    .bottom-menu {
        z-index: 100;
        position: fixed;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 7%;
        /*opacity: 0.9;*/
    }

    .bottom-menu-card {
        background-color: #d6cb06;
        border: 1px solid white;
        padding: 5px;
    }

    .bottom-menu-card:hover {
        background-color: #c7bd05;
    }
}
@media (max-width: 768px) {

    .bottom-menu {
        z-index: 100;
        position: fixed !important;
        bottom: 0 !important;
        width: 100% !important;
    }

    .bottom-menu-card {
        background-color: #d6cb06;
        border: 1px solid white;
        padding: 5px;
    }
}
